/* Universal styles  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
 
 
:root {
  font-size: 16px;
  --main-color: #FFF;
  --second-color:  #5267DF;
  --third-color: #FA5959;
  --second-btn-color:#F7F7F7;
  --font-color:#9194A2;
  --heading-color: #242A45;
  --font-family: 'Rubik', sans-serif;
  --border-color: #DFE0E4;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select, li {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
 
@media (prefers-color-scheme: dark) {
  :root {
    
  }
}
 
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
 
/* Typography  */
body {
    font-family: var(--font-family);
}

h1, h2, h3 {
    color: var(--heading-color);
}
h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.09375px;
    text-align: center;
}

h2, h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.07500000298023224px;
    text-align: center;
}

footer h2 {
    line-height: 28px;
    color: var(--main-color);
}

.faq--question h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--font-color);
}

.faq--question p {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.140625px;
    text-align: left;
    color: var(--heading-color);
}

footer p {
    color: var(--main-color);
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 4.62px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--heading-color);
}

nav a {
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 2.307692050933838px;
    text-align: center;
    text-transform: uppercase;
}

a footer {
    color: var(--main-color);
}

/* start @media for typography */
@media(min-width: 700px) {
    h1 {
        font-size: 48px;
        font-weight: 500;
        line-height: 52px;
        letter-spacing: -0.15000000596046448px;
        text-align: left;
    }

    h2, h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 52px;
        letter-spacing: -0.10000000149011612px;
        text-align: center;
    }

    footer h2 {
        line-height: 40px;
    }

    .faq--question h3 {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: center;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
    }

    .features--container h2 + p,
    .download--container h2 + p,
    .faq-container h2 + p {
        text-align: center;
    }
    .faq--question p {
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
    }
    footer p {
        font-size: 13px;
        letter-spacing: 5px;
    }

    nav a {
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 1.5px;
        text-align: right;
    }
}

/* general styles */
body {
    position: relative;
}
body,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 48px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: var(--second-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px #495DCF33;
    color: var(--main-color);
}

.button_light {
    background: var(--second-btn-color);
    color: var(--heading-color);
}

/* Header */

header, nav, ul {
    display: flex;
    flex-wrap: wrap;
}

header {
    position: relative;
    width: 100vw;
    padding: 0 8.5vw ;
    justify-content: center;
    margin-top: 40px;
    background-image: url(./images/header-background-mobile.png);
    background-position: 100px 132px;
    background-repeat: no-repeat;
}

.nav--btn_open,
.nav--btn_close {
    border: none;
    padding: 0;
    background: transparent;
    height: 15px;
    margin-left: auto;
}

/* nav transition */
 
nav.show {
    display: unset;
    transform: translateY(0);
}
  
nav.hide {
    transform: translateY(-100%);
}

header nav {
    height: 100vh;
    width: 100%;
    padding: 40px 8.5% ;
    margin-top: -40px;
    background-color: var(--heading-color);
    opacity: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

 nav .header--logo-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 219px;
}

nav li:first-of-type {
    margin-top: 40px;
}

nav li {
    display: flex;
    align-items: center;
    height: 66px;
    width: 100%;
    border-top: 1px solid #454A60;
}

nav ul li:nth-child(3) {
    border-bottom: 1px solid #454A60;
}
nav ul li:last-child {
    border:2px solid var(--main-color);
    border-radius: 5px;
    height: 48px;
    margin-top: 24px;
}

.nav--anchor {
    display: block;
    width: 100%;
    height: 17px;
    color: var(--main-color);
}

.header--social-icons {
    width: 88px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header--info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.header--text-container {
    margin-bottom: 140px;
}
.header--text-container p{
    margin-bottom: 32px;
}

.header--img-container {
    order: -1;
}

.header--img {
    width: 313px;
}

.header--btn_dark {
    margin-right: 14px;
}

/* Features */
.features--container {
    margin-bottom: 72px;
}

.features--container h3 {
    margin-top:16px;
}

.features--container h2 + p{
    margin-bottom: 40px;
}

.features--container h3 + p{
    margin-bottom: 15px;
}

.features--button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #DBDFF5;
    margin-bottom: 72px;
}

.features--button {
    all:unset;
    width: 311px;
    padding: 20px 0 20px 0;
    text-align: center;
    border-bottom: 1px solid #DBDFF5;
}

.selected-tab {
    text-decoration: underline;
    text-decoration-color: var(--third-color);
    text-decoration-thickness: 5px;
    text-underline-offset: 22px;
}

.features--img-container{
    width: 100vw;
    height: 238px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./images/features-background-mobile.png) no-repeat left bottom;
} 

.features--img {
    width: 311px;
}

.features--text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

/* Download section */

.download--container {
    margin-bottom: 140px;
}
.download--container h2 + p {
    margin-bottom: 40px;
    max-width: 541px;
}

.download--extension-container {
    height: 371px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
    box-shadow: 0px 10px 20px -5px #495DCF33;

}

/* FAQ section */
.faq-container h2 {
    line-height: 30px;
    margin-bottom: 16px;
}

.faq-container h2 + p {
    margin-bottom: 64px;
} 

summary {
    font-size: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    width: 311px;
    border-bottom: 1px solid var(--border-color);
}

details[open] summary {
    border-bottom: none;
}

details {
    width: 311px;
}

details .arrow {
    width: 20px;
    height: 10px;
    background: url(./images/icon-arrow.svg) no-repeat;
}
details[open] .arrow {
    transform: rotate(180deg);
    transition: 500ms;
    background: url(./images/icon-arrow-orange.svg) no-repeat;
}

/* transition and animation for dropdown menu */
details {
    padding: 10px;
  }
  
  details summary {
    cursor: pointer;
    transition: margin 1000ms ease-out;
  }
  
  details[open] summary {
    margin-bottom: 10px;
  }

details[open] summary ~ * {
    animation: sweep 1s ease-in-out;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; transform: translateX(-10px)}
    100%  {opacity: 1; transform: translateX(0)}
  }

  .faq--drop-down-container{
    margin-bottom: 48px;
  }

/* start @media */
@media(min-width: 700px) {
    /* General styles */
    main {
        background: url(./images/features-background.png) no-repeat left 420px;
        max-width: 100vw;
    }

    section {
        width: 100vw;
    }

    /* Header */   
    
    header {
        display: flex;
        justify-content: flex-start;
        max-width: 100vw;
        height: 688px;
        padding: 0 91px 180px 165px;
        background: url(./images/header-background.png);
        background-position:  right 255px;
        background-repeat: no-repeat;
    }

    header .header--logo-container {
        width: fit-content;
        display: inline-block;
        margin-right: auto;
    }

    /* reset nav styles */
    .nav--btn_open,
    nav .header--logo-container,
    .header--social-icons {
        display: none;
    }

    nav.show,
    nav.hide,
    header nav,
    ul,
    nav li:first-of-type,
    nav li,
    nav ul li:nth-child(3),
    .nav--anchor,
    .header--img-container,
    .header--img-container img {
        all: unset;
    }

/* Header nav styles */
    #header--nav {
        margin-right: 165px;
        width: fit-content;
    }

    header ul li:not(:last-child) {
        margin-right: 44px;
    }

    nav ul li:last-child .nav--anchor{
        border:none;
        border-radius: 5px;
        background-color: var(--third-color);
        color: var(--main-color);
        height: 40px;
        margin-top:-24px;
        padding: 12px 32px;
    }
    
    .header--info-container{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 108px;
    }

    .header--text-container {
        max-width: 540px;
        margin-right: 65px;
    }

    .header--img-container {
        margin-top: -30px;
        margin-right: 152px;
        width: 466px;
        order: 1;
        opacity: 91%;
    }
    
    .header--img {
        width:657px;
        height:466px;
        box-shadow: 0px 2px 4px 0px #00000080;
    }

    /* Features */

    .features--container {
        display: grid;
        grid-template-areas: 
        'header header'
        'description description'
        'tabs tabs'
        'img text';
    }
    .features--container h2 {
        grid-area: header;
    }

    .features--container p {
        grid-area: description;
        max-width: 540px;
        /* margin: 0 auto 72px; */
    }

    .features--container h2 + p{
        margin-bottom: 72px;
    }
    
    .features--container h3 + p{
        margin-bottom: 32px;
    }

    .features--button-container {
        grid-area: tabs;
        border-top: none;
        width: 730px;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto 72px auto;
        border-bottom: 1px solid #DBDFF5;
    }

    .features--button {
        all:unset;
        width: 243px;
        text-align: center;
        border-bottom: none;
        padding-bottom: 27px;
    }

    .selected-tab {
        text-decoration: underline;
        text-decoration-color: var(--third-color);
        text-decoration-thickness: 4px;
        text-underline-offset: 30px;
        
    }
    .features--img-container{
        grid-area: img;
        width: 705px;
        height: 435px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
    } 

    .features--img {
        width: 536px;
        align-self: flex-end;
    }

    .features--text-container {
        grid-area: text;
        max-width: 445px;
        margin-bottom: 0px;
        margin-top: -110px;
    }

    .features--text-container h3 {
        margin-right: auto;
    }

    .features--text-container p + button {
        margin-right: auto;
        width: 114px;
    }

    /* Download section */
    .download--container {
        margin-bottom: 149px;
    }
    .download--container h2 + p {
        margin-bottom: 48px;
    }

    .download--extensions-wrapper {
        height: 451px;
        display: flex;
        flex-direction: row;
    }

    .download--extension-container:first-of-type {
        align-self: flex-start;
        margin-right: 34px;
    }

    .download--extension-container:nth-of-type(2) {
        align-self: center;
        margin-right: 34px;
    }

    .download--extension-container:last-of-type {
        align-self: flex-end;
    }
/* FAQ section */
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
 .nav--btn_open:hover,
 .nav--btn_close:hover {
    background-color: var(--third-color);
 }

 a:hover {
    color: var(--third-color);
 }

 a img:hover {
    background-color: var(--third-color);
 }

 nav ul li:last-child .nav--anchor:hover {
    background-color: var(--main-color);
    color: var(--third-color);
    border: 2px solid var(--third-color);
 }

 button:hover {
    background: var(--main-color);
    border: 2px solid var(--second-color);
    color: var(--second-color);
 }

 .button_light:hover {
    color: var(--heading-color);
    border: 2px solid var(--heading-color);
 }

 .features--button:hover {
    border: none;
    border-bottom: 1px solid #DBDFF5;
    color: var(--third-color);
 }
}
